.productosfinal{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    
}
.cantidadfinal{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    font-size:large;
    font-weight: bolder;
}
.final  {
    margin-bottom: 3rem;
    margin-left: 5rem;
}
.titulocarrito{
    display: flex;
    margin-left: 30rem;
    margin-top: 3rem;
}
.nombrefinal{
    display: flex;
    margin-left: 4rem;
}