.carrito{
    width:5rem;
   border-radius: 80%;
   
}

.cero{
    color: black;
    background-color: white;
    font-size: 2rem;
    border-radius: 80%;
   
}

.numerador{
    position: absolute;
    top: 25px;
    right: 150px;
    font-size: 1rem;
    text-align: center;
    min-height: 18px;
    line-height: 18px;
    vertical-align: middle;
    padding: 2px 5px;
    border-radius: 9px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}
