.carrito{
    width:6rem ;
    border-radius: 60%;
}

.numerador{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2rem;
    text-align: center;
    min-height: 18px;
    line-height: 18px;
    vertical-align: middle;
    padding: 2px 5px;
    border-radius: 9px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
  }
  .cero{
    background-color: white;
    color:black;
    cursor: pointer;
    margin-right:.5em;
    
    

  }
