.Presentacion{
    background-color:rgb(141, 245, 141);
    background: linear-gradient(170deg, rgba(71, 248, 6, 0.548), rgba(245, 242, 242, 0.719));
   
    
   
}


.botonp{
    background:rgb(164, 84, 4);
    color:white !important;
    border-radius:.7rem .7rem  0    0 ;
    font-size:1em;
    padding:.8% 2%;
    cursor:pointer;
    margin-top: 2rem;
    margin-left: 35rem;
    margin-bottom: 4rem;
    
}

.Titulop{
    text-align:center;
    color: green;
    font-size: 2rem;
    
}
.Parrafop{
    text-align:center;
    line-height:normal;
    font-weight:bold;
    font-size: larger;
    color: green;
   

   

}