.redes{
    width:5rem;
    padding:1rem;
}
.redesw{
    width:5rem;
    border-radius: 100rem;
}
.linkFooter{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bolder;
}
.fondo-footer{
    position: relative;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
     background-color:rgb(141, 245, 141);
    background: linear-gradient(170deg, rgba(4, 255, 4, 0.548), rgba(245, 242, 242, 0.719))
}
.copy{
    font-weight: bolder;
    text-align: center;
    
    

}


